<div class="jumbotron" style="background-color:white;border:none;">
  <div class="row">
    <h1>mean-gen</h1>
    <p class="text-muted">
      Freshly generated user login template
    </p>
    <p>
      <div class="btn-group top-buffer-small">
        <a class="btn btn-lg btn-info" ng-href="#/signup" style="width:150px;">Sign Up</a>
        <a class="btn btn-lg btn-success" ng-href="#/login" style="width:150px;">Log In</a>
      </div>
    </p>
  </div>

  <div class="row top-buffer-small">
    <div class="col-md-12">
      <p>GitHub</p>
      <div class="github-card" data-github="razvanilin/mean-gen" data-theme="default"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
  </div>
</div>
